global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'feature_platform'
    static_configs:
      - targets: ['localhost:8000']
    
  - job_name: 'feast'
    static_configs:
      - targets: ['localhost:8080'] 